<% content_for :title, t("layout.header_partial.home") %>
<div class="center jumbotron">
    <h1><%= t("static_page.home.welcome") %></h1>
    <h2><%= t("static_page.home.description") %>
        <a href="http://www.railstutorial.org/" target="_blank" > Ruby on Rails</a> 
        <%= t("static_page.home.sample") %>
    </h2>
    <%= link_to t("static_page.home.signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
