<% provide :title, t("contact_page.contact") %>
<h1><%= t("layout.contact_page.home.hello")%> <%= t("layout.contact_page.home.name") %> </h1>
<h2><%= t("layout.contact_page.home.description") %></h2>
