<table class="table table-bordered table-hover post-table">
  <thead class="thead-custom">
  </thead>
  <tbody>
    <tr>
        <td><%= l(micropost.created_at, format: :long) %></td>
    </tr>
    <tr>
        <td><%= micropost.content %></td>
    </tr>
  </tbody>
</table>
